@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.game_imgs_img {
  animation: rotation 5s linear infinite;
  border-radius: 50%;
}

.game_imgs {
  width: 95%;
  height: 60vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game_start {
  display: flex;
  justify-content: space-evenly;
}
.game_start_button1,
.game_start_button2 {
  width: 409px;
  height: 83px;
  gap: 0px;
  border-radius: 60px;
  opacity: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 35.16px;
  text-align: center;
  border: none;
  background-color: #10a4f8;
  color: white;
}
@media screen and (max-width: 840px) {
  .game_start,
  .game_start_button1,
  .game_start_button2 {
    display: block;
  }
  .game_start_flex {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .game_start_button2 {
    margin-top: 25px;
  }
}
@media screen and (max-width: 700px) {
  .game_imgs_img {
    width: 70%;
  }
  .game_start_button1,
  .game_start_button2 {
    width: 309px;
    height: 63px;
    border-radius: 60px;
    opacity: 0px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 35.16px;
    text-align: center;
    border: none;
    background-color: #10a4f8;
    color: white;
  }
}
